<nav class="hornav">
    {% assign menu-list = site.menu -%}
    {% for item in menu-list -%}
        {% if item.children == "" -%}
            <a href="{{ item.url | relative_url -}}" class="hor-item">{{ item.label -}}</a>
        {% else -%}
            <div class="dropdown">
                <button class="hor-item dropbtn"
                onclick="document.getElementById('dropdown-{{ item.label -}}').classList.toggle('show');">
                    {{ item.label -}}
                </button>
                <div id="dropdown-{{ item.label -}}" class="dropdown-content">
                    {% for child in item.children -%}
                        <a href="{{ child.url | relative_url -}}" class="vert-item" >{{ child.label -}}</a>
                    {% endfor -%}
                </div>
            </div>
        {% endif -%}
    {% endfor -%}
</nav>

<script type="text/javascript" >
// Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
      }
    }
</script>